<div class="deltarem_layouts_banner_nav">
  <nav class="navbar navbar-default">
    <div class="navbar-header navbar-left">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h1><img src="./assets/images/deltarem-normal-trans.png" alt=" ">DELTAREM</h1>

    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <nav>
        <ul class="nav navbar-nav">
          <li class="active"><a routerLink="/home" class="hvr-underline-from-center">Home</a></li>
          <li><a routerLink="/about" class="hvr-underline-from-center">About</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle hvr-underline-from-center" data-toggle="dropdown">Portfolio <b class="fa fa-caret-down"></b></a>
            <ul class="dropdown-menu agile_short_dropdown">
              <li><a routerLink="/services">Services</a></li>
              <li><a routerLink="/projects">Projects</a></li>
            </ul>
          </li>
          <li><a routerLink="/contact" class="hvr-underline-from-center">Contact</a></li>
        </ul>
      </nav>

    </div>
  </nav>

  <div class="clearfix"> </div>
</div>
