<div class="main-about">
  <div class="row">
    <div class="col-md-6"><img class="left-image" src="./assets/images/remote-team.jpg"></div>
    <div class="col-md-6 content">
      <p><b>DeltaRem</b> is a London-based software company founded at 2017. The company is targeting to build global teams working remotely from anywhere so the cost of hiring
        talent is lower than its competitor companies</p>
      <p>
        The production model in software development industry is changing dramatically. In the new model there is no need for software
        developers to work in the company offices with their colleagues, they can join to production pipeline in any location
        that has internet access. They can work remotely at home, in a coffee shop or a train station so that is a big evolution
        in the software development world. It removes borders of country for companies to hire people from any country in
        the world. In the past, companies had to either relocate new hires or invest in expensive overseas facilities to
        obtain global talent. In our modern world, the best skilled labor is available through the cloud.
      </p>
    </div>
  </div>

</div>