<div class="agileits_top_menu">
  
      <div class="w3l_header_left">
        <ul>
          <li><i class="fa fa-map-marker" aria-hidden="true"></i> London, UK</li>
          <li><i class="fa fa-phone" aria-hidden="true"></i> +(44) 737 9353 940</li>
          <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@deltarem.co.uk">info@deltarem.co.uk</a></li>
        </ul>
      </div>
      <div class="w3l_header_right">
        <div class="w3ls-social-icons text-left">
          <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
          <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
          <a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>
          <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
