:host {
    .deltarem_top_menu {
        padding: 0.5em 2em;
        background: #404B50;
        border: #404B50;
    }
    .deltarem_header_left{
        float:left;
        margin: .3em 0 0;
    }
    .deltarem_header_left ul li{
        display:inline-block;
        margin-right:2em;
        font-size:14px;
        color:rgb(255, 255, 255);
    }
    .deltarem_header_left ul li i {
        padding-right: 1em;
        color: #00a98f;
    }
    .deltarem_header_left ul li a{
        color:rgb(255, 255, 255);
        text-decoration:none;
    }
    .deltarem_header_left ul li a:hover{
        color:#00a98f;
    }
    .deltarem_header_right{
        float: right;
    }
    .deltarem-social-icons.text-left a {
        display: inline-block;
    }
    .deltarem-social-icons i {
        font-size: 15px;
        background: #333;
        padding: 8px 10px;
        color: #fff;
        border: 1px solid #333;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
        -moz-transition: 0.5s all;
            border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
    }
    .w3ls-social-icons i:hover {
        background: transparent;
        color: #efb312;
        border: 1px solid #efb312;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
        -moz-transition: 0.5s all;
    }
    .top-header-main {
        padding: 1em 0em;
    }
    .header-address h6 {
        font-size:0.9em;
        color: #fff;
        display: inline-block;
    }
    .logo h1 {
        font-size:2.5em;
    }
   
	@media (max-width:1680px){
	}
	@media (max-width:1600px){
	}
	@media (max-width:1440px){
	}
	@media (max-width:1366px){
	}
	@media (max-width:1280px){
	}
	@media (max-width: 1024px){
	}
	@media (max-width:1080px){
	}
	@media (max-width:991px){
	}
    @media (max-width: 800px){
        
        .deltarem_header_left ul li {
            display: inline-block;
            margin-right: 0.2em;
        }
    }

    @media (max-width: 768px){
      
        .deltarem_header_right {
            float: none;
            text-align: center;
            margin: 6% auto 0;
            width: 22%;
        }
    }
	@media (max-width: 767px){
	}
    @media (max-width: 736px){
        
        .deltarem_header_right {
            float: none;
            text-align: center;
            margin: 6% auto 0;
            width: 24%;
        }
    }
	@media (max-width: 667px){
	}
	@media (max-width: 640px){
	}
    @media (max-width: 600px){
        
        .deltarem_header_right {
            float: none;
            text-align: center;
            margin: 2% auto 0;
            width: 30%;
        }	
    }
    @media (max-width: 568px) {

        .deltarem_header_right {
            float: none;
            text-align: center;
            margin: 2% auto 0;
            width: 33%;
        }
    }
	@media (max-width: 480px){
	}
	@media (max-width: 440px){
        .deltarem_header_right {
            float: none;
            text-align: center;
            margin: 2% auto 0;
            width: 47%;
        }
    
        .deltarem_header_right {
            float: none;
            text-align: center;
            margin: 2% auto 0;
            width: 41%;
        }
	}
	@media (max-width: 414px){
        .deltarem_header_right {
            float: none;
            text-align: center;
            margin: 2% auto 0;
            width: 47%;
        }
	}
	@media (max-width: 384px){
        .deltarem_header_right {
            float: none;
            text-align: center;
            margin: 2% auto 0;
            width: 50%;
        }
	}
	@media (max-width: 375px){
        .deltarem_header_right {
            float: none;
            margin: 2% auto 0;
            width: 51%;
        }
	}
	@media (max-width: 320px){
        .deltarem_header_right {
            float: none;
            text-align: center;
            margin: 2% auto 0;
            width: 63%;
        }
	}


}