:host {

    .agileits_top_menu {
        padding: 0.5em 2em;
        background: #000;
    }

    /*-- header --*/
    input[type="submit"],.w3l_header_left ul li a,.related-post-right h4 a,.comments-grid-right h4 a,.reply a,.w3_single_grid_left_grid ul li a,ul.contact_info li a,.w3ls_services_bottom_grid_grid_pos,.footer-copy p a,.w3l_services_grid h4 a,.agileinfo_footer_grid ul li a,.wthree_service_breadcrumb_left ul li a{
        transition: .5s ease-in;
        -webkit-transition: .5s ease-in;
        -moz-transition: .5s ease-in;
        -o-transition: .5s ease-in;
        -ms-transition: .5s ease-in;
    }
    .w3l_header_left{
        float:left;
        margin: .3em 0 0;
    }
    .w3l_header_left ul li{
        display:inline-block;
        margin-right:2em;
        font-size:14px;
        color:#999;
    }
    .w3l_header_left ul li i {
        padding-right: 1em;
        color: #00a98f;
    }
    .w3l_header_left ul li a{
        color:#999;
        text-decoration:none;
    }
    .w3l_header_left ul li a:hover{
        color:#00a98f;
    }
    .w3l_header_right{
        float: right;
    }
    /*-- social-icons --*/
    /*--top header start here--*/
    .w3ls-social-icons.text-left a {
        display: inline-block;
    }
    .w3ls-social-icons i {
        font-size: 15px;
        background: #333;
        padding: 8px 10px;
        color: #fff;
        border: 1px solid #333;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
        -moz-transition: 0.5s all;
            border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
    }
    .w3ls-social-icons i:hover {
        background: transparent;
        color: #efb312;
        border: 1px solid #efb312;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
        -moz-transition: 0.5s all;
    }
    .top-header-main {
        padding: 1em 0em;
    }
    .header-address h6 {
        font-size:0.9em;
        color: #fff;
        display: inline-block;
    }
    .logo h1 {
        font-size:2.5em;
    }
}