<div class="deltarem_top_menu">
  
      <div class="deltarem_header_left">
        <ul>
          <li><i class="fa fa-map-marker" aria-hidden="true"></i> London, UK</li>
          <li><i class="fa fa-phone" aria-hidden="true"></i> +(44) 737 9353 940</li>
          <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@deltarem.co.uk">info@deltarem.co.uk</a></li>
        </ul>
      </div>
      <div class="deltarem_header_right">
        <div class="deltarem-social-icons text-left">
          <a class="facebook" href="https://www.facebook.com/DeltaRem-2009561319058678/?modal=admin_todo_tour"><i class="fa fa-facebook"></i></a>
          <a class="twitter" href="https://twitter.com/DeltaRem_Ltd"><i class="fa fa-twitter"></i></a>
          <a class="pinterest" href="https://www.pinterest.co.uk/dogan_u/"><i class="fa fa-pinterest-p"></i></a>
          <a class="linkedin" href="https://www.linkedin.com/in/deltarem/"><i class="fa fa-linkedin"></i></a>
        </div>
       
      </div>
      <div class="clearfix"> </div>
    </div>
