<div class="main-about">
  <div class="row">
    <div class="col-md-6">
      <img class="left-image" src="./assets/images/client-management-image.jpg">
    </div>
    <div class="col-md-6 content">
      <span>
        <h1>Client Management Application</h1>
        <h4>(Open Source)</h4>
      </span>
      <div>
        <h2>It is being develolied with the following technologies and tools;</h2>
        <ul class="b">
          <li>Angular 5</li>
          <li>Material Design Module</li>
          <li>RxJS</li>
          <li>Visual Studio Code</li>
          <li>AWS</li>
        </ul>
      </div>
    </div>
  </div>
</div>