.main-about {
    border-top: 0.005em solid  rgb(116, 127, 131) !important;
    height: 34.5em; 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    color: rgb(51, 49, 49);
    font-weight: 500;
    padding-top: 1em;
    padding-left: 1em;
}
.content {
    //padding-top: 1em;
    padding-left: 1em;
}
.left-image {
    width: 100%;
    height: 100%;
}
h1 {
    font-size: 1.6em;
    font-weight: 600;
    text-decoration: underline;

}


h2 {
   font-size: 1.0em;
    font-weight: 550;
   

}


ul.b {

    list-style-type: square;
}

li {
    
    margin-left: 15px;
}