<div class="main-about">
  <div class="row">
    <div class="col-md-6">
      <img class="left-image" src="./assets/images/software-development-service.jpg">
    </div>
    <div class="col-md-6 content">
      <h1>Deltarem Services</h1>
      <div>
        <h2>1. Development Services</h2>
        <div>
          <h3>1.1. Web Application Development</h3>
        </div>
        <div>
          <h3>1.2. Android Application Development</h3>
        </div>
        <div>
          <h3>1.3. IOS Application Development</h3>
        </div>
      </div>
      <div>
        <h2>2. Software Development Consultancy Services</h2>
      </div>
      <div>
        <h2>3. Software Quality Assurance And Testing Services</h2>
      </div>

    </div>
  </div>

</div>