<div class="row">
    <div class="col-md-12">
        <div class="carousel slide">
            <ol class="carousel-indicators carousel-indicators-numbers " [hidden]="slides.length <= 1">
                <li *ngFor="let slide of slides" [class.active]="slide.isActive === true" (click)="selectSlide(slide)"></li>
            </ol>
           
            <a class="left carousel-control" (click)="prev()" [hidden]="!slides.length">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" (click)="next()" [hidden]="!slides.length">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>