<div class ="main-home">
  <div class="row content">
    <div class="col-md-6 "></div>
    <div class="col-md-6"><i class="fa fa-check" aria-hidden="true"></i> Custom software development, unique to your business & developed for your needs</div>
  </div>
  <div class="row content">
    <div class="col-md-6 "></div>
    <div class="col-md-6"><i class="fa fa-check" aria-hidden="true"></i>New methodologies in software development</div>
  </div>
  <div class="row content">
    <div class="col-md-6 "></div>
    <div class="col-md-6"><i class="fa fa-check" aria-hidden="true"></i>Cloud based development</div>
  </div>
</div>