:host {
    & /deep/ .footer {
        background: #404B50;
        padding: 0;
    }
    .info_copyright{
        text-align: center;
        background: #404B50;
        padding: 0.2em 0 0.2em 0;
        
    }
    .info_copyright p{
        color: #fff;
        line-height: 3em;
        font-size: 0.9em;
        margin: 0
    }
    .info_copyright p a{ 
        color: #efb312;
        text-decoration:none;
    }
    .info_copyright p a:hover{ 
        color:#fff;
    }
   
}